<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wen.dao.IHouseDao">

    <select id="findFourHouseByType" parameterType="int" resultType="wen.pojo.HouseView">
        select * from tb_house a,tb_house_info b
        where a.house_id=b.house_id
        and a.is_delete=0
        and a.house_type=0
        order by rand() LIMIT 4
    </select>

    <select id="searchHouseByType" parameterType="int" resultType="wen.pojo.HouseView">
        select * from tb_house a,tb_house_info b,tb_user c
        where a.is_delete=0
        and a.house_id=b.house_id
        and a.user_id=c.user_id
        and a.house_type=#{houseType}
        order by a.house_id desc
    </select>

    <select id="searchThreeRandomView" parameterType="int" resultType="wen.pojo.HouseView">
        select * from tb_house a,tb_house_info b,tb_user c
        where a.is_delete=0
        and a.house_id=b.house_id
        and a.user_id=c.user_id
        and a.house_type=#{houseType}
        order by rand() LIMIT 3
    </select>

    <select id="selectCount" parameterType="int" resultType="int">
        select count(*) from tb_house a,tb_house_info b,tb_user c
        where a.is_delete=0
        and a.house_id=b.house_id
        and a.user_id=c.user_id
        and a.house_type=#{houseType}
    </select>

    <select id="searchHouseViewByTypeAndPage" parameterType="Map" resultType="wen.pojo.HouseView">
        select * from tb_house a,tb_house_info b,tb_user c
        where a.is_delete=0
        and a.house_id=b.house_id
        and a.user_id=c.user_id
        and a.house_type=#{houseType}
        order by a.house_id limit #{start},#{size}
    </select>
</mapper>